<div class="container">
  <%= simple_form_for @training do |f| %>
  <%= f.association :discipline %>
  <%= f.association :trainer %>
  <%= f.input :start_time %>
  <%= f.button :submit, wrapper_html: { class: 'btn btn-primary' }%>
  <% end %>
</div>

<%= link_to "Back to classes", trainings_path %>
