<div class="container">
  <%= simple_form_for @member do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.button :submit, wrapper_html: { class: 'btn btn-primary' }%>
  <% end %>
</div>

<%= link_to "Back to members", members_path %>
